h1,
h2 {
	text-align: center;
}

#media,
#checklist,
#conversation {
	margin-top: 40px;
	margin-bottom: 20px;
	border-radius: 10px;
	background-color: var(--custom-white);
}

.photo-container {
	grid-template-columns: repeat(2, 1fr);
	display: grid;
}

.photo-container img {
	max-width: 600px;
	max-height: 800px;
	object-fit: cover;
	width: 100%;
	height: auto;
}
.photo-container p {
	padding: 5px;
	text-align: center;
}

.photo-container > div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}

.photo-container-span > :first-child {
	grid-column: span 2;
}

.checklist-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border-radius: 10px;
	background-color: var(--custom-white);
	padding: 20px;
	margin-top: 20px;
	gap: 10px;
}

.checklist-list label {
	display: flex;
	align-items: center;
}

.checkbox-extra-info p {
	margin-left: 20px;
	margin-top: 5px;
}

.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 15px;
	width: 15px;
	background-color: #f6f6f6;
	border: 0.5px solid rgb(215, 215, 215);
	border-radius: 3px;
	box-shadow: 0px 1.5px 2px rgb(181, 181, 181) inset;
}

.checkbox-container {
	display: block;
	position: relative;
	padding-left: 20px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox-container input:checked ~ .checkmark {
	background-color: rgb(43, 179, 43);
	box-shadow: none;
}

.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

.checkbox-container .checkmark:after {
	left: 5px;
	top: 2px;
	width: 3px;
	height: 7px;
	border: solid rgb(255, 255, 255);
	border-width: 0 2.5px 2.5px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.conversation-container {
	border-radius: 10px;
	background-color: var(--custom-white);
	padding: 20px;
	margin-top: 20px;
}

.conversation-container h3 {
	padding-bottom: 10px;
}

.conversation-container ul,
.special-note-container ul {
	padding-left: 15px;
}

.conversation-container li,
.special-note-container li,
.special-note-container h4 {
	margin-bottom: 8px;
	margin-top: 8px;
}

.special-note-container {
	border-radius: 10px;
	background-color: var(--custom-pink);
	padding: 20px;
	margin-top: 20px;
}

.special-note-container h3 {
	text-align: center;
}

@media only screen and (max-width: 500px) {
	.checklist-grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
}
