:root {
	--custom-green: #9ba281;
	--custom-light-green: #ced4c6;
	--custom-pink: #e1bbb8;
	--custom-light-pink: #eadede;
	--custom-white: #e5e4e0;
}

* {
	margin: 0;
}

body {
	background-color: var(--custom-green);
	font-family: Arial, sans-serif;
	/* display: flex;
	flex-direction: column;
	min-height: 100vh; */
}

main {
	flex-grow: 1;
	width: 100%;
}

footer {
	width: 100%;
	flex-shrink: 0;
	min-height: 50px;
	background-color: var(--custom-pink);
}

.logo {
	width: 40px;
	padding-left: 20px;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropbtn {
	height: 60px;
}

.dropdown .dropbtn {
	border: none;
	outline: none;
	color: white;
	font-weight: 600;
	font-size: medium;
	background-color: var(--custom-light-green);
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--custom-light-green);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	padding: 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown:hover .dropbtn,
.dropdown-content a:hover {
	background-color: #888c84;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.navbar {
	background-color: var(--custom-light-green);
	display: flex;
	top: 0;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	min-height: 60px;
}

.navbar-links {
	display: flex;
	align-items: center;
	list-style: none;
}

.navbar-links li {
	padding: 0 20px;
}

.navbar-links a {
	color: white;
	font-weight: 600;
	font-size: 16px;
	position: relative;
	overflow: hidden;
	text-decoration: none;
}

.navbar-links a:after {
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	bottom: 0px;
	background: white;
	height: 2px;
	transition-property: width;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.navbar-links a.dropdown-a:after {
	content: none;
}

.navbar-links li:hover a:after,
.navbar-links li:focus a:after,
.navbar-links li:active a:after {
	width: 100%;
}

#check {
	display: none;
}

.checkbtn {
	position: absolute;
	cursor: pointer;
	right: 0;
	display: none;
}

#mobile-menu,
#mobile-close {
	margin-right: 10px;
	margin-left: 10px;
	height: 30px;
}

#check:checked ~ .navbar-links {
	display: flex;
}

#check:checked ~ label #mobile-close {
	display: block;
}

#check:checked ~ label #mobile-menu {
	display: none;
}

#mobile-close {
	display: none;
}

@media only screen and (max-width: 1313px) {
	.checkbtn {
		display: block;
	}
	.dropbtn {
		height: 40px;
		min-width: 185px;
		text-align: left;
		padding: 10px;
	}
	.dropdown-content a {
		float: none;
		padding: 10px;
		padding-left: 30px;
		min-width: 185px;
		text-decoration: none;
		display: block;
		text-align: left;
	}
	.navbar-links {
		position: absolute;
		right: 0;
		top: 60px;
		flex-direction: column;
		background-color: var(--custom-light-green);
		justify-content: space-around;
		align-items: start;
		display: none;
		z-index: 1;
	}

	ul {
		padding: 0;
	}

	.navbar-links li {
		padding: 10px;
	}

	.navbar-links li:last-child {
		padding: 0;
	}
}
